<div style="text-align: center">
  <h1 style="color: black">Antes de empezar...</h1>

  <button
    type="button"
    class="btn btn-primary"
    style="bottom: 6em; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; text-align: center;"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="auto"
      fill="currentColor"
      class="bi bi-play-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
      />
    </svg>
    <span>Empezar pase</span>
  </button>
</div>
